/* ===============================
   Author: {YOUR NAME HERE}
   Date:   {DATE HERE}
   
   Notes:
   Hand coded for Build a Website
   from Scratch with HTML & CSS
   by Brad Hussey
   
   Colour Palette:
   ---------------
   Light Cream:		#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */
body{
	background:#f2f3ee url('../images/bg-tile.gif') top left repeat;
	color:#4b2707;
	font-size:14px;
	
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	-webkit-font-smoothing:antialiasing;
	text-rendering:optimizelegibility;
}
.container{
	width:924px;
	margin:0 auto;
	padding:30px 24px;
}
/* Typography */
h1,h2{
	color:#d17f38;
	font-size:40px;
	font-weight:normal;
	font-family: 'Love Ya Like A Sister', cursive;
	line-height:44px;
	margin:0;
}
h1{
	text-align:center;
	padding:0 0 20px;
	background:url('../images/Header-divider.png') bottom center no-repeat;
	}
h1 em{
		font-style:normal;
		color:#4b2707;
	}
h2{
		font-size:34px;
	}
h3{
	margin:0;
}
p.lead{
	font-size:30px;
	font-weight:300;
	text-align:center;
	margin:10px 0;
}
p{
	margin:0;
}
a:link{
	color:#d17f38;
}
a:visited{
	color:#d17f38;
	}
a:hover{
	color:#4b2707;
}
hr{
	border:none;
	width:333px;
	height:33px;
	margin:33px auto;
	background:url('../images/divider.png') center center no-repeat;
}




/* Header */

header nav{
	text-align:center;
	
	
}

header nav ul{
	margin:0;
	padding:0;
	display:block;
	line-height:141px;
	list-style:none;
	
	
}
header nav ul li{
	display:inline-block;
	padding:0 20px;
	
} 
header nav ul li a{
text-decoration:none;	
font-weight:bold;
}
header nav ul li a:hover{
	color:#4b2707;
	padding-top:20px;
	background:url('../images/tiny-donut.png') top center no-repeat;
}
header nav ul li#logo a{
	height:141px;
	width:292px;
	background:url('../images/logo.png') center center no-repeat;
	display:block;
	text-indent:-9999px;
}
header nav ul li#logo a:hover{
	padding:0px;
	background:url('../images/logo-hover.png') center center no-repeat;
}

/* Hero */
#hero{
	background:#e8c04f url('../images/bg-tile-yellow.png') top left repeat;
}
#hero .container{
	position:relative;
}
#hero .large-ribbon {
	width:150px;
	height:190px;
	background:url('../images/fresh-whole-ingredients.png') top right no-repeat;
	text-indent:-9999px;
	position:absolute;
	top:-23px;
	right:-30px;
	
}


/* The Whole Story */
#story-expert{
	width:530px;
	margin-right:24px;
	font-size:16px;
	float:left;
}
#best-donut{
	background:url('../images/award.png') left center no-repeat;
	padding:30px 0px 30px 130px;
	float:left;
	width:240px;
}


/* News & Events */
#article{
	width:370px;
	margin-right:24px;
	float:left;

}
#feature-image{
	width:530px;
	float:left;
}
#news-events article{
	margin:20px 0;
	padding-left:55px;
}
#news-events .news{
	background:url('../images/icon-news.png') top left no-repeat;
}

#news-events .events{
	background:url('../images/icon-calendar.png') top left no-repeat;
}
#news-events header time{
	color:#d17f38;
	font-size:12px;
}
#news-events .excerpt{
	margin:10px 0;
}
#news-events footer{
	font-size:12px;
}
/* Footer */

.main-foot{
	background:#4b2707 url('../images/bg-tile-brown.gif') top left repeat;
	color:#f2f3ee;
	padding:30px 0;
	
}
.main-foot a:hover{
	color:#f2f3ee;
}
#uncopyright, #credits{
	width:235px;
	float:left;
	padding:10px 0 10px 50px;
	}
#uncopyright{
	background:url('../images/icon-recycle.png') center left no-repeat;
}
#credits{
	background:url('../images/icon-apple.png') center left no-repeat;
	float:right;
	margin-top:9px;
}
/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





